#draggable { width: 50px; height: 50px; border:1px solid #ccc;position:absolute;}
#pin{width: 50px; height: 50px; border:1px solid #ccc;position:relative;}
#containment-wrapper-plotter{position:absolute;right:100px;}
#containment-wrapper{position:relative;}
#info{position:absolute;display:none;border:1px solid #111;width:200px;height:200px;}
#canvas_uploader .form-submit{position: relative;top: -47px;left: 248px;}
#canvas_uploader .ajax-progress{position: relative;top: -47px;left: 248px;}
